# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyc
.coverage
.pytest_cache/

# Django
*.log
logs/
staticfiles/
media/

# Database backups
*.dump
*.sql
backup.sql
old_data.sql

# Editor
*.swp
.vscode/
.idea/

# Virtual environment
myvenv/
venv/
.venv/
