{% load static %}
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static 'accounts/css_files/login.css' %}">
    <script src="{% static 'accounts/js_files/login.js' %}" defer></script>
</head>
<div id="form-div">
<label id="heading-label">Log into Instagram</label>

<form method="post" novalidate id="login-form" >
    {% csrf_token %}
    
    <span class="error" id="non-field-errors"></span>   

    {% for field in form %}
        <div class="form-group" >
            <label class="labels">{{ field.label }}</label>
            {{ field }}
            
            <span class="error" id="error_{{ field.name }}">{{ field.errors.as_text }}</span>
        </div>
    {% endfor %}

    <button id="submit_button" type="submit">Submit</button>
</form>


<button id="forgot-button" onclick="reset_password()">Forgot Password?</button>
<button id="facebook-button" >Log in with Facebook?</button>
<button id="register-button" onclick="go_to_register()">Create new account</button>

</div>

