{% load static %}
{% load socialaccount %}
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static 'accounts/css_files/login.css' %}">
    <script src="{% static 'accounts/js_files/login.js' %}" defer></script>
</head>
<div id="form-div">
<label id="heading-label">Log into Instagram</label>

<form method="post" novalidate id="login-form" >
    {% csrf_token %}
    
    <span class="error" id="non-field-errors"></span>   

    {% for field in form %}
        <div class="form-group" >
            <label class="labels">{{ field.label }}</label>
            {{ field }}
            
            <span class="error" id="error_{{ field.name }}">{{ field.errors.as_text }}</span>
        </div>
    {% endfor %}

    <button id="submit_button" type="submit">Submit</button>
</form>


<button id="forgot-button" onclick="reset_password()">Forgot Password?</button>
<form action="{% provider_login_url 'google' %}" method="post" style="display: block; margin: 0; padding: 0; width: 100%;">
    {% csrf_token %}
    <button id="google-button" type="submit">Log in with Google</button>
</form>
<form action="{% provider_login_url 'github' %}" method="post" style="display: block; margin: 0; padding: 0; width: 100%;">
    {% csrf_token %}
    <button id="github-button" type="submit">Log in with Github</button>
</form>  
<!-- Locate this block in your template and update it -->
<!-- Replace your LinkdIn form block with this exact code -->
<form action="{% provider_login_url 'linkedin_oauth2' %}" method="post" style="display: block; margin: 0; padding: 0; width: 100%;">
    {% csrf_token %}
    <button id="github-button" type="submit">Log in with LinkedIn</button>
</form> 

<button id="register-button" onclick="go_to_register()">Create new account</button>

</div>

