{% load static %}
<link rel="stylesheet" href="{% static 'accounts/registration_page.css' %}">
<div id="form-div">
<form method="post" novalidate id="register-form" >
    {% csrf_token %}
    
    {{ form.non_field_errors }}

    {% for field in form %}
        <div class="form-group" >
            <label class="labels">{{ field.label }}</label>
            {{ field }}
            
            <span class="error" id="error_{{ field.name }}">{{ field.errors.as_text }}</span>
        </div>
    {% endfor %}

    <button id="submit_button" type="submit">Submit</button>
</form>
<button id="login_button" >I already have an account</button>
</div>

<script>
    
    document.getElementById('register-form').addEventListener('submit', function(e){
       e.preventDefault();
       let form = this;
       let formData = new FormData(form)
       document.querySelectorAll('error').forEach(span => span.textContent = '')
       fetch(form.action || window.location.href,{
        method: 'post',
        body: formData,
        headers: {
            'X-Request-With': 'XMLHttpRequest'
        }
       }) 
       .then(response => response.json().then(data => ({status: response.status,body:data})))
       .then(res =>{
        if (res.status === 200 && res.body.success){
            window.location.href = res.body.redirect_url;
        }else{
            let errors = res.body.errors
            for (let fieldName in errors){
                let errorMessage =  errors[fieldName][0].message;

                if (fieldName === '__all__'){
                    document.getElementById('non-field-errors').textContent = errorMessage;
                }else{
                    let errorSpan = document.getElementById(`error_${fieldName}`);
                    if (errorSpan) {
                        errorSpan.textContent = errorMessage;
                    }
                }
            }
        }
       })
       .catch(error => console.log('Error:', error));
    });

</script>
