{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css_files/registration_page.css' %}">
<head>
    <link rel="icon" href="data:,">
    <script src="{% static 'accounts/js_files/register.js' %}" defer></script>
</head>
<div id="form-div">
<form method="post" novalidate id="register-form" >
    {% csrf_token %}
    
    <span class="error" id="non-field-errors"></span>

    {% for field in form %}
        <div class="form-group" >
            <label class="labels">{{ field.label }}</label>
            {{ field }}
            
            <span class="error" id="error_{{ field.name }}">{{ field.errors.as_text }}</span>
        </div>
    {% endfor %}

    <button id="submit_button" type="submit">Submit</button>
</form>
<button id="login_button" onclick="go_to_login()" >I already have an account</button>
</div>

