{% load static %}

<link rel="stylesheet" href="{% static 'accounts/css_files/request_otp.css' %}">
<head>
    <link rel="icon" href="data:,">
</head>
<div id="form-div">
<label id="heading-label">Find your account</label>
<form method="post" novalidate id="request-otp-form" >
    {% csrf_token %}
    
    <span class="error" id="non-field-errors"></span>

    {% for field in form %}
        <div class="form-group" >
            <label class="labels">{{ field.label }}</label>
            {{ field }}
            
            <span class="error" id="error_{{ field.name }}">{{ field.errors.as_text }}</span>
        </div>
    {% endfor %}
    <label class="label-info">* You may receive Email with OTP from us for security and reset password purposes.</label>

    <button id="submit_button" type="submit">Continue</button>
</form>

<div id="otp-form-div" style="display:none;">
    <h3 style="margin-top:0; margin-bottom: 24px; text-align: center; color: #111827;"
    <form method="POST" id="otp-reset-form" action="{% url 'verify_otp' %}">
        {% csrf_token %}

        <label>Enter 6-Digit OTP:</label>
        <input type="text" name="otp" required>

        <label>New Password:</label>
        <input type="password" name="new_password" required>

        <button type="submit">Reset Password</button>
    </form>
</div>
</div>

<script>
    document.getElementById('request-otp-form').addEventListener('submit', function(e){
        e.preventDefault();

        let form = this;
        let formData = new FormData(form)
        const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(form.action || window.location.href,{
            method: 'post',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': csrfToken
            }
        })

        .then(response => response.json().then(data => ({status: response.status, body:data})))

        .then(res =>{
            if (res.status == 200 && res.body.success){
                document.getElementById("request-otp-form").style.display = "none";
                document.getElementById("heading-label").textContent = "Reset Password";
                document.getElementById("otp-form-div").style.display = "block";
            }else{
                let fieldsWithNewErrors = {};
                let errors = res.body.errors
                for (let fieldName in errors){
                    let errorMessage = errors[fieldName][0].message;
                    fieldsWithNewErrors[fieldName] = true
                    console.log(fieldsWithNewErrors)

                    if (fieldName === '__all__'){
                        let nonFieldSpan = document.getElementById('non-field-errors')
                        if (nonFieldSpan.textContent !== errorMessage){
                            nonFieldSpan.textContent = errorMessage;
                        }
                    }else{
                        let errorSpan = document.getElementById(`error_${fieldName}`);
                        if (errorSpan){
                            if (errorSpan.textContent !== errorMessage){
                                errorSpan.textContent = errorMessage;
                            }
                        }
                    }
                }

                document.querySelectorAll('.error').forEach(span => {
                    let id = span.id;
                    let fieldName = id.replace('error_', '');
                    if (id === 'non-field-errors'){ 
                        fieldName = '__all__';
                    }
                    
                    if (!fieldsWithNewErrors[fieldName]) {
                        span.textContent = '';
                        console.log('span',span)
                    }
                });
            }

        })
        .catch(error=> console.log('Error:', error));
    });

document.getElementById('otp-reset-form').addEventListener('submit', function(e) {
    e.preventDefault();

    let form = this;
    let formData = new FormData(form);
    const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;

    fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': csrfToken
        }
    })
    .then(response => response.json().then(data => ({
        status: response.status,
        body: data
    })))
    .then(res => {
        if (res.status == 200 && res.body.success) {
            window.location.href = res.body.redirect_url;
        } else {
            alert(res.body.message || "Invalid or expired OTP.");
        }
    })
    .catch(error => console.log(error));
});
</script>

