#form-div{
    width: 45%;
    margin: auto;
    padding: 10px;
}
#login_button{
    padding: 8px 20px; 
    border: 1px solid #dbdbdb; 
    border-radius: 20px; 
    font-weight: bold; 
    cursor: pointer;
    background-color: white;
    width: 100%;
    height: 45px;
}

.form-group{
    margin-bottom: 15px; 
    display: flex; 
    flex-direction: column; 
    max-width: 350px;
}
#submit_button{
    padding: 8px 20px; 
    border: none;
    background-color: #0095f6; 
    color: white;
    border: 3px solid #dbdbdb; 
    border-radius: 20px; 
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 100%;
}

.error{
    color: red; 
    font-size: 13px;
}

.labels{

    margin-bottom: 5px;
}

.form-group input {
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb; 
    border-radius: 10px;
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 14px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    width: 160%;
    height: 60px;
    font-size: 15px;
}