{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Feed</title>
    <link rel="stylesheet" href="{% static 'accounts/css_files/home.css' %}">
</head>
<body>

    <!-- Top Navigation Bar -->
    <nav class="navbar-custom">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="logout-top-left" type="submit">Log Out</button>
        </form>
        <span class="navbar-title">Instagram App</span>
        <a href="{% url 'create_post' %}" class="new-post-btn">+ New Post</a>
    </nav>

    <!-- Main Post Area -->
    <div class="feed-container">
        {% for post in posts %}
            <div class="insta-card">
                
                <div class="card-header-user">
                    <span>{{ post.author.username }}</span>
                </div>

                {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-img" alt="Post Image">
                {% endif %}

                <div class="card-body-custom">
                    <div class="action-bar">
                        <form action="{% url 'like_post' post.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="like-btn-icon">
                                {% if request.user in post.likes.all %}
                                    ❤️
                                {% else %}
                                    🤍
                                {% endif %}
                            </button>
                        </form>
                    </div>

                    <span class="likes-count">{{ post.total_likes }} likes</span>

                    <p class="caption-text">
                        <span class="caption-username">{{ post.author.username }}</span>{{ post.content }}
                    </p>

                    {% if request.user == post.author %}
                        <form action="{% url 'delete_post' post.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">
                                Delete Post
                            </button>
                            
                        </form>
                    {% endif %}


                    <div class="post-time">{{ post.created_at|timesince }} ago</div>
                </div>

            </div>
        {% empty %}
            <div class="empty-feed">
                <p>No posts visible right now. Share something with the network above!</p>
            </div>
        {% endfor %}
    </div>

</body>
</html>
